<% previous_date = "" %>
<% obj.each do |entry| %>

<% current_date = "" %> 
<% current_date = (entry.created_at.strftime"%B %e %Y ")%>
<% if !(current_date == previous_date) %> 
<%= (entry.created_at.strftime"%B %e, %Y ")%>
<% end %> 
<% previous_date = (entry.created_at.strftime"%B %e %Y ")%>
            
        <div class="media" style="box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);">
              <h4 class="media-heading" >
                <span style="font-size:20px">
                <%= link_to entry.name, entry_path(entry), :class => "media-title" %>
                </span>
                <span class="pull-right"><i class="fa fa-pencil" aria-hidden="true"></i>
                <i class="fa fa-cog" aria-hidden="true"></i>
                <i class="fa fa-trash-o" aria-hidden="true"></i></span>
              </h4>
          <div class="media-body">
          <div class="row">
            <div class="col-md-9">
              <div class="media-content">
                <%= entry.content %>
              </div>

            </div>

            <div class="col-md-3">
              <div class="media-info">
                      <span class= "pull-right" style="font-size:12px; color: blue">
                      <% if defined? entry.user.username? %>
                      <%= link_to entry.user.username, user_path(entry.user) %>
                      <% else %>
                      <p>Anonymous</p>
                      <% end %>
                      </span> <br>
                  
                       

                  <span class= "pull-right" style="font-size:10px">
                  <% if defined? entry.country? %>
                    <p> <%= entry.country %>, <%= entry.city %></p>

                  <% elsif defined? entry.user.country %> 
                   <p> <%= entry.user.country %>, <%= entry.user.city %></p></span> 
                  <% else %> 
                  <p>Unknown</p>
                 <% end %>
                   <br>
                       
                       
                  <a href="#" class="pull-right" style="font-size:20px;">  
                  <div class="two" style="text-align:center">
                    <b><%= entry.points %></b>
                  </div>
                  </a>
             </div>   
            </div>
            


            </div>
            <div class="row">
            <div class="col-md-12">
              <div class="media-info">
                    

                    <span class="pull-right">
                      Posted: <%= time_ago_in_words(entry.created_at) %> ago
                    </span><br>
                    <span class="pull-right"> <%= link_to 'Show', entry %> </span>
              </div>  
           <% if logged_in? && (current_user == entry.user || current_user.admin?) %> 
              <%= link_to 'Edit', entry %>
            <% end %>
            </div>
            </div>
          </div>
        </div>

            
          
         <% end %>