<% obj.each do |entry| %> 
            <div class="media">
          <div class="media-right media-middle">
            <a href="#">
              <span class="glyphicon glyphicon-globe"> </span>
            </a>
          </div>
          <div class="media-body">

          <div class="row">

            <div class="col-md-9">
              <h4 class="media-heading" > 
                <span style="font-size:20px">
                <%= link_to entry.name, entry_path(entry) %>
                </span>
              </h4>

              <div class="media-content">
                <%= truncate(entry.content, length: 200) %>
              </div>

            </div>

            <div class="col-md-3">
              <div class="media-info">
                      <span class= "pull-right" style="font-size:12px; color: blue">
                      <% if defined? entry.user.username? %>
                      <%= entry.user.username %>
                      <% else %>
                      <p>Anonymous</p>
                      <% end %>
                      </span> <br>
                  
                       <% if defined? entry.user.country? %>
                  <span class= "pull-right" style="font-size:10px"><%= entry.user.country %>, <%= entry.user.city %></span> <br>
                       <% else %> 
                       <p>Unknown</p>
                       <% end %>
                  <span class= "pull-right" style="font-size:20px; height:50px; line-height:50px">  <b><%= entry.points %></b>  </span>
             </div>   
            </div>
            


            </div>
            <div class="row">
            <div class="col-md-12">
              <div class="media-info">
                    

                    <span class="pull-right">
                      Posted: <%= time_ago_in_words(entry.created_at) %> ago
                    </span><br>
                    <span class="pull-right"> <%= link_to 'Show', entry %> </span>
              </div> 
               <%= link_to "Edit this journal entry.", edit_entry_path(entry), class: "btn btn-xs btn-primary" %> 
            	<%= link_to "Delete this journal entry.", entry_path(entry), method: :delete, data: {confirm: "Are you sure you want to delete the entry?"},
            	class: "btn btn-xs btn-danger" %> 
            </div>
            </div>

            <div class="row">
            	
            	

            </div>

          
          
         
            

                 
          </div>
        </div>
         <% end %>