<% obj.each do |entry| %> 
            
        <div class="media" style="box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);">
              <h4 class="media-heading" >
                
                <span style="font-size:20px">
                <%= link_to entry.name, entry_path(entry) %>
                </span>
                <span class="pull-right"><%= entry.created_at.strftime(" %B %C, %G") %></span>
              </h4>
          <div class="media-body">
          <div class="row">
            <div class="col-md-9">
              <div class="media-content">
                <%= entry.content %>
              </div>

            </div>

            <div class="col-md-3">
              <div class="media-info">
                      <span class= "pull-right" style="font-size:12px; color: blue">
                      <% if defined? entry.user.username? %>
                      <%= link_to entry.user.username, user_path(entry.user) %>
                      <% else %>
                      <p>Anonymous</p>
                      <% end %>
                      </span> <br>
                  
                       

                  <span class= "pull-right" style="font-size:10px">
                  <% if defined? entry.country? %>
                    <p> <%= entry.country %>, <%= entry.city %></p>

                  <% elsif defined? entry.user.country %> 
                   <p> <%= entry.user.country %>, <%= entry.user.city %></p></span> 
                  <% else %> 
                  <p>Unknown</p>
                 <% end %>
                   <br>
                       
                       
                  <a href="#" class="pull-right" style="font-size:20px;">  
                  <div class="glyphicon glyphicon-globe one">
                  </div>
                  <div class="two" style="text-align:center">
                    <b><%= entry.points %></b>
                  </div>
                  </a>
             </div>   
            </div>
            


            </div>
            <div class="row">
            <div class="col-md-12">
              <div class="media-info">
                    

                    <span class="pull-right">
                      Posted: <%= time_ago_in_words(entry.created_at) %> ago
                    </span><br>
                    <span class="pull-right"> <%= link_to 'Show', entry %> </span>
              </div>  
             <%= link_to 'Unite', entry_addpoint_path(entry), method: :put, class: "btn btn-xs btn-primary" %>
            </div>
            </div>
          </div>
        </div>

            
          
         <% end %>