<div class="test">
<%= form_for(@entry) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>
      <ul>
      <% @entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <span class="input input--minoru h2">
      <%= f.text_field :name,  :class => "input__field input__field--yoko" %>
      <label for="entry_name" class="input__label input__label--yoko">
        <span class="input__label-content input__label-content--yoko">Title</span>
        </label>
    </span>
    
    <div class="input-group" style="margin-left:30px;margin-bottom:20px;">
    			<div id="radioBtn" class="btn-group">
    					<a class="btn btn-primary btn-sm active" data-toggle="fun" data-title="Y">Public</a>
                        <a class="btn btn-primary btn-sm notActive" data-toggle="fun" data-title="X">Anonymous</a>
    					<a class="btn btn-primary btn-sm notActive" data-toggle="fun" data-title="N">Private</a>
          </div>
    	<input type="hidden" name="fun" id="fun">
    </div>
    



  <div class="field" style="margin-left:30px;margin-right:30px">
    <%= f.text_area :content, placeholder: "Content" %>
  </div>
  
  <div class="actions variation-a">
    <%= f.submit 'submit', :class => "suit_and_tie" %>
  </div>
<% end %>
</div>