<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Universal Journal</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>
    </ul>
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Link</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

    </div>
    <div class="col-md-10">
      
<h1>
  Popular Journal Entries for
  <%= Time.now.strftime("%m/%d/%Y")%>

</h1>



<div class="h1">
 </div>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Entryname</th>
      <th>Country</th>
      <th>City</th>
      <th>Content</th>
      <th>Points</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.username %></td>
        <td><%= entry.name %></td>
        <td><%= entry.country %></td>
        <td><%= entry.city %></td>
        <td><%= entry.content %></td>
        <td><%= entry.points %></td>
        <td><%= entry.created_at.strftime("Submitted: %m/%d/%Y") %></td>
        <td><%= link_to 'Show', entry %></td>
        
      </tr>
    <% end %>
   
            <% @entries.each do |entry| %>
            <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object" src="..." alt="...">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><%= entry.name %> <br><%= entry.country %> - <%= entry.city %> - <%= entry.content %> - <%= entry.points %>   </h4>

            <%= entry.content %>
            <%= entry.created_at.strftime("Submitted: %m/%d/%Y") %>
           
           <%= link_to 'Show', entry %>

          </div>
        </div>
         <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entry', new_entry_path %>

    </div>
  </div>
</div>


