<p id="notice"><%= notice %></p>

 
                   
                     
<p>
  <strong>Username:</strong>
   <% if defined? entry.user.username? %>
  <%= @entry.user.username%>
   <% else %>
   <p>Anonymous</p>
  <% end %>
</p>


                      
<p>
  <strong>Country:</strong>
  <%= @entry.user.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @entry.user.city %>
</p>

<p>
  <strong>Title:</strong>
  <%= @entry.name%>
</p>




<p>
  <strong>Content:</strong>
  <%= @entry.content %>
</p>

<p>
  <strong>Points:</strong>
  <%= @entry.points %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
