                   
                     
<p>
  <strong>Username:</strong>
   <% if defined? entry.user.username? %>
  <%= @entry.user.username%>
   <% else %>
   <p>Anonymous</p>
  <% end %>
</p>


                      
<% if @entry.country? %>
                    <%= @entry.country %>, <%= @entry.city %>
                  <% elsif !@entry.user.nil? && @entry.user.country? %> 
                   <%= @entry.user.country %>, <%= @entry.user.city %>
                  <% else %> 
                  Anonymous
                  <% end %>
<p>
  <strong>Title:</strong>
  <%= @entry.name%>
</p>




<p>
  <strong>Content:</strong>
  <%= @entry.content %>
</p>

<p>
  <strong>Points:</strong>
  <%= @entry.points %>
</p>

  <% if logged_in? && (current_user == @entry.user || current_user.admin?) %> 
              <%= link_to 'Edit', edit_entry_path(@entry) %> |
            <% end %>
<%= link_to 'Back', entries_path %>
