<h1 align="center"> Welcome to <%= @user.username %>'s Journal!</h1>

<%= render 'entries/entry', obj: @user.entries %> 

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Country:</strong>
  <%= @user.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>Points:</strong>
  <%= @user.points %>
</p>

<p>
  <strong>Languages:</strong>
  <%= @user.languages %>
</p>

<%= link_to 'Back', users_path %>
