<!DOCTYPE html>
<html>
<head>
  <title>Universaljournal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav class="navbar navbar-fixed-left navbar-minimal animate" role="navigation">
		<div class="navbar-toggler animate">
			<span class="menu-icon"></span>
		</div>
		<ul class="navbar-menu animate">
			<li>
				<a href="/feed/" class="animate">
					<span class="desc animate"> Feed </span>
					<span class="fa-lg pull-left"><i class="fa fa-globe"></i></span>
				</a>
			</li>
			<li>
				<a href="/entries/new" class="animate">
					<span class="desc animate"> New Entry </span>
					<span class="fa-lg pull-left"><i class="fa fa-pencil-square"></i></span>
				</a>
			</li>
			<li>
                    <% if logged_in? %>

                        <%= link_to '<span class="desc animate"> Your Journal </span>'.html_safe, user_path(current_user), :class => "animate" %>  
                        
                        <% else %>
                        
                        <%= link_to '<span class="desc animate"> Login </span><span class="fa-lg pull-left"><i class="fa fa-address-book"></i></span>'.html_safe, login_path, :class => "animate" %>
                        
                        <% end %> 
            </li>
		</ul>
	</nav>

        <!-- Page Content -->
        <div id="page-content-wrapper" style="margin-left:0;">
            <div class="container-fluid xyz">
                <div class="row">
                    <div class="col-lg-1">
                    </div>
                    <div class="col-lg-9">
                        <%= yield %>
                    </div>
                    <div class="col-md-2">
                       <% if logged_in? %>
                        Logged in as:
 
                       <b><%= current_user.username %></b>

                        <%= link_to 'Edit Profile', edit_user_path(current_user) %>  
                        <%= link_to 'Log_out', logout_path, method: :delete %>
                        
                        <% else %>
                        
                        <%= link_to 'Log_in', login_path %>
                        
                        <% end %> 
                   </div>
                </div>
                <div class="row">
                   <%= debug(params) if Rails.env.development? %>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>






  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>






</body>
</html>
